{% extends 'base.html.twig' %}

{% block title %}ADD PERSONNE{% endblock %}

{% block body %}
    <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header">{{ personne.nom|upper }} {{ personne.prenom |capitalize }}</div>
        <div class="card-body">
            <h5 class="card-title">ID : {{ personne.id }}</h5>
            <p class="card-text">
                Age : {{ personne.age }} <br>
                Path : {{ personne.path }} <br>
                CIN : {{ personne.cin }}
            </p>
        </div>

    </div>
{% endblock %}
